<p id="notice"><%= notice %></p>
<h1>User Page</h1>
<p>
  <strong>User`s Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
 
  <strong>Category:</strong>
  <%= @user.category.name %>
</p>

<%= link_to 'Edit User', edit_user_path(@user) %> <br />
<%= link_to 'All Users', users_path %> <br />
<%= link_to 'All Categories', categories_path %>
