<p id="notice"><%= notice %></p>
<h1>User Page</h1>
<p>
  <strong>Category name:</strong>
  <%= @category.name %>
</p>

<% @category.users.each do |user| %>
  <ul>
    <li><%= user.fullname %></li>
  </ul>
<% end %>

<%= link_to 'Edit Category', edit_category_path(@category) %><br />
<%= link_to 'All Users', users_path %> <br />
<%= link_to 'All Categories', categories_path %>
